.tax-results__tax-bracket {
  border-bottom: 1px solid @colour-primary;
  box-shadow: -4px 4px 4px -2px #888;
  padding: 15px;
  margin: 20px 0;

  & > h3,
  div {
    display: flex;
  }
  .tax-results__label {
    flex: 20%;
  }
  .tax-results__value {
    flex: 80%;
  }
}
