.tax-results {
  .BgContainerStyles;
  animation: fadein 2s;
  width: 50%;
  margin: 0 auto;
}
.tax-results__container {
  margin-top: 40px;
}
.tax-results__total-tax,
.tax-results__effective-tax-rate {
  display: flex;
  font-size: 30px;
  margin-bottom: 20px;

  .tax-results__label,
  .tax-results__value {
    flex: 50%;
  }
}
.tax-results__value {
  font-weight: bold;
}
