.tax-results {
  animation: fadein 2s;
  width: 50%;
  margin: 0 auto;

  @media(max-width: @screen-sml){
    width: 90%;
  }
}
.tax-results__total-tax {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}